<h1>Make your form here</h1>
<form method="POST" action="/pirates">
  <p>Pirates Name
    <input type = "text" name = "pirate[name]">
  </p>
  <p>Pirates Weight
    <input type = "text" name = "pirate[weight]">
  </p>
  <p>Pirates Height
    <input type = "text" name = "pirate[height]">
  </p>
  <p>
<input type="text" name= "pirate[ships][][name]" id="ship_name_1" />
  </p>
  <p>
  <input type="text" name= "pirate[ships][][type]" id="ship_type_1" />
  </p>
  <p>
<input type="text" name= "pirate[ships][][booty]" id="ship_booty_1" />
  </p>
<p>
  <input type="text" name= "pirate[ships][][name]" id="ship_name_2" />
    </p>
    <p>
    <input type="text" name= "pirate[ships][][type]" id="ship_type_2" />
    </p>
    <p>
  <input type="text" name= "pirate[ships][][booty]" id="ship_booty_2" />
    </p>

    <input type ="submit" id ="Submit">
</form>
